---
// Components
import Layout from "@/layouts/Layout.astro";
import ProjectWrapper from "@/components/home/Projects.astro";
import Heading from "@/components/ui/Heading.astro";


---
<Layout title="My Recent Projects">
  <div class="container rows">
    <Heading tagName="h1" tagSize="h1">Latest Projects</Heading>
    <ProjectWrapper tagName='h2' />
  </div>
</Layout>