---
// assets
import katie from "@/assets/avatar.jpeg"
import ContactForm from "./ContactForm"

// component
---
<section aria-label="Connect with katie" id="connect">
    <div class="form-wrapper">
        <div>
            <img src={katie.src} alt="Katie Haus">
        </div>
        <!-- Contact from -->
         <ContactForm client:load/>
    </div>
</section>