---
import Link from '../ui/Link.astro';

type Props = {
    prev?: string;
    next?: string;
}

const {prev, next} = Astro.props
---
<div class="pagination">
    {
    prev && (
        <Link href={prev} variant="secondary">Previous</Link>
    )

}
{
    next && (
        <Link href={next} variant="secondary">Next</Link>
    )
}
</div>